<div class="auth">
  <div class="logo"><img src="/img/logo.svg"></div>
  <div id="signup">
    <div class="auth-container">
      <ul class="switcher">
        <li><a ui-sref="auth.login">Login</a></li>
        <li><a class="selected">New account</a></li>
      </ul>
      <auth-form user="$ctrl.user" message="{{ $ctrl.error }}" button="Create user" on-submit="$ctrl.createUser($event);">
      </auth-form>
      <p class="form-bottom-message">
        <a ui-sref="auth.login">Already have an account? Login here.</a>
      </p>
    </div>
  </div>
</div>
