<div class="cd-cart-container" ng-class="{'cart-open': $ctrl.toggleCart === true}">
  <a ng-click="$ctrl.onToggleCart();" class="cd-cart-trigger">
		Cart
		<span class="count">
		{{$ctrl.items.length}}
		</span>
	</a>
  <div class="cd-cart">
    <div class="wrapper">
      <header>
        <h2>Cart</h2>
      </header>
      <div class="body">
        <p ng-if="$ctrl.items.length === 0">There's no one here... :(</p>
        <ul>
          <li class="product" ng-repeat="item in $ctrl.items">
            <cart-item
              item="item"
              on-remove-item="$ctrl.onRemove($event);"
              on-update-qty-item="$ctrl.onUpdateQtyItem($event);" />
          </li>
        </ul>
      </div>
      <footer>
        <a class="checkout btn" ng-click="$ctrl.onCheckout();">
          <em ng-if="$ctrl.items.length > 0">Finish Order - <span>{{ $ctrl.total | currency }}</span></em>
          <em ng-if="$ctrl.items.length === 0">Go to catalog</span></em>
        </a>
      </footer>
    </div>
  </div>
</div>
