// colors
$color-1: #343642; // Pickled Bluewood
$color-2: #2f889a; // Red Damask
$color-3: #d2d8d8; // Ronchi
$color-4: #ffffff; // White
$color-5: #46b29d; // Keppel


// $primaryColor:   #0277bd;
// $accentColor:    #1de9b6;
// $bgColor:        #efefef;
// $darkBgColor:    #263238;
// $lightBgColor:   #37474f;
// $lightTextColor: #f5f5f5;
// $darkTextColor:  #212121;


$main-text: #31353d; // main text
$link: #435779; // anchor tags
$background: #eeeff7; // background color
$header-bg: #31353d;

$border: #e0e6ef;
$light-text: #a5aebc;
$green: #7dcf85;

$shadow-layer-bg: rgba(#435779, .6);


$red: #d76666; // error messages
