// colors
$color-1: #343642; // Pickled Bluewood
$color-2: #e27c3e; // Red Damask
$color-3: #d2d8d8; // Ronchi
$color-4: #ffffff; // White
// $color-5: #e27c3e; // Keppel


$main-text: #31353d; // main text
$link: #435779; // anchor tags
$background: #eeeff7; // background color
$header-bg: #31353d;

$border: #e0e6ef;
$light-text: #a5aebc;

$red: #d76666; // error messages
