  .table {
    background-color: $color-4;
    border: 1px solid $border;
    width: 100%;
    thead {
      background-color: $background;
    }
    thead {
      & th {
        border-bottom: 1px solid $border;
        font-weight: 600;
        color: $color-1;
      }
    }
    th,
    td {
      padding: 0.85rem;
      vertical-align: middle;
      border-top: 1px solid $border;
      text-align: left;
    }
    td {
      color: $color-1;
      font-weight: 300;
    }
    tr {
      border-color: $border;
    }
  }

  .responsive-table {
    margin: 1em 0;
    min-width: 300px; // adjust to your needs
    th {
      display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
    }
    td {
      display: block;
      &:before {
        content: attr(data-th)" "; // who knew you could do this? The internet, that's who.
        font-weight: bold; // optional stuff to make it look nicer
        width: 6.5em; // magic number :( adjust according to your own content
        display: inline-block; // end options
        @include MQ(M) {
          display: none;
        }
      }
    }
    th,
    td {
      text-align: left;
      @include MQ(M) {
        display: table-cell;
        &:first-child {}
        &:last-child {}
      }
    }
  }
