<button class="detail-beer" ng-click="$ctrl.toggleDetail();">View Detail</button>

<div class="beer-detail-modal" ng-class="{'is-visible': $ctrl.toggle === true}">
  <div class="beer-detail-modal-container" ng-class="{'is-visible animate-width': $ctrl.toggle === true}">
    <div class="beer-detail-modal-image">
      <img src="{{$ctrl.beer.image_url}}" alt="">
    </div>
    <div class="beer-detail-modal-info" ng-class="{'add-content': $ctrl.toggle === true}">
      <h2>{{$ctrl.beer.name}}</h2>
      <h4><span class="volume">{{$ctrl.beer.volume.value}}ml</span> - {{$ctrl.beer.tagline}}</h4>
      <div class="temperature"></div>
      <div class="alchohol"></div>
      <p class="description">
        {{$ctrl.beer.description}}
      </p>
      <h4>Food Pairing</h4>
      <div class="beer-detail-modal-food-pairing">
        <p>
          {{$ctrl.beer.food_pairing.join(', ')}}
        </p>
      </div>
    </div>
    <a href="#" ng-click="$ctrl.toggleDetail();" class="beer-detail-modal-close">Close</a>
  </div>
</div>
