<div class="single-item">
  <div class="thumb">
    <img src="{{$ctrl.beer.image_url}}" alt="{{$ctrl.name}}" />
  </div>
  <div class="beer-actions">
    <beer-detail beer="$ctrl.beer" on-show-detail="$ctrl.toggleDetail($event)" on-add-cart="$ctrl.addToCart($ctrl.beer);"></beer-detail>
    <button class="add-to-cart" ng-click="$ctrl.addToCart($ctrl.beer);">Add to Cart</button>
  </div>
</div>
<div class="item-info">
  <b>{{ $ctrl.beer.name }}</b>
  <span></span>
  <em>${{ $ctrl.beer.abv }}</em>
</div>
