.user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    @include border-radius;
    @include transform(translateY(-30px));
    @include transition-property (transform);
    @include transition-duration(.3s);
    .switcher {
        @include clearfix;
        li {
            @include column(.5);
            text-align: center;
            &:first-child a {
                border-radius: .25em 0 0 0;
            }
            &:last-child a {
                border-radius: 0 .25em 0 0;
            }
        }
        a {
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
            background: $color-3;
            color: darken($color-3, 30%);
            &.selected {
                background: #FFF;
                color: $main-text;
            }
        }
    }
    @include MQ(S) {
        margin: 4em auto;
        .switcher a {
            height: 70px;
            line-height: 70px;
        }
    }
}

.form {
    padding: 1.4em;
    .fieldset {
        position: relative;
        margin: 1.4em 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    label {
        @include font-size(14px);
        &.image-replace {
            /* replace text with an icon */
            display: inline-block;
            position: absolute;
            left: 15px;
            @include center(y);
            height: 20px;
            width: 20px;
            overflow: hidden;
            text-indent: 100%;
            white-space: nowrap;
            color: transparent;
            text-shadow: none;
            background-repeat: no-repeat;
            background-position: 50% 0;
        }
        &.username {
            background-image: url('/img/icon-username.svg');
        }
        &.email {
            background-image: url('/img/icon-email.svg');
        }
        &.password {
            background-image: url('/img/icon-password.svg');
        }
    }
    input {
        margin: 0;
        padding: 0;
        @include border-radius;
        &.full-width {
            width: 100%;
        }
        &.has-padding {
            padding: 12px 20px 12px 50px;
        }
        &.has-border {
            border: 1px solid $color-3;
            @include appearance(none);
            &:focus {
                border-color: $color-1;
                box-shadow: 0 0 5px rgba($color-1, .1);
                outline: none;
            }
        }
        &.has-error {
            border: 1px solid $red;
        }
        &[type=password] {
            /* space left for the HIDE button */
            padding-right: 65px;
        }
        &[type=submit] {
            @include button;
        }
    }
    button {
        @include button;
    }
    .hide-password {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px 15px;
        border-left: 1px solid $color-3;
        @include center(y); // see partials > _mixins.scss
        @include font-size(14px);
        color: $color-1;
    }
    .error-message {
        display: inline-block;
        position: absolute;
        left: -5px;
        bottom: -35px;
        background: rgba($red, .9);
        padding: .8em;
        z-index: 2;
        color: #FFF;
        @include font-size(13px);
        @include border-radius;
        /* prevent click and touch events */
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        @include transition(opacity .2s 0,
        visibility 0 .2s);
        &::after {
            /* triangle */
            content: '';
            position: absolute;
            left: 22px;
            bottom: 100%;
            @include triangle(16px,
            rgba($red,
            .9),
            up);
        }
        &.is-visible {
            opacity: 1;
            visibility: visible;
            @include transition(opacity .2s 0,
            visibility 0 0);
        }
    }
    @include MQ(S) {
        padding: 2em;
        .fieldset {
            margin: 2em 0;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        input.has-padding {
            padding: 16px 20px 16px 50px;
        }
        input[type=submit] {
            padding: 16px 0;
        }
    }
}

.form-message {
    padding: .075em;
    line-height: 1;
    @include font-size(14px);
    text-align: center;
    color: $color-4;
    background: rgba($red, .9);
    @include border-radius;
    @include MQ(S) {
        padding: 1em;
    }
}

.form-bottom-message {
    width: 100%;
    padding: 2em;
    text-align: center;
    @include font-size(14px);
    a {
        color: $color-2;
        text-decoration: underline;
    }
}
