/* --------------------------------

Single Item

-------------------------------- */

.single-item {
  position: relative;
  display: block;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 1em 2em;
  .thumb {
    img {
      width: auto;
      max-height: 250px;
      margin: 0 auto;
      display: block;
    }
  }
}


/* --------------------------------

Product Customization

-------------------------------- */

.beer-actions {
  width: 100%;
  padding: 1em 0;
  @include clearfix;
  @include transition(opacity .2s 0s, visibility 0s .2s);
  .add-to-cart,
  .detail-beer {
    height: 34px;
    position: relative;
    overflow: hidden;
    @include border-radius;
  }
  .add-to-cart {
    float: right;
  }
  .detail-beer {
    float: left;
  }
  .add-to-cart,
  .detail-beer {
    // min-width: calc(50% - 23px);
    width: auto;
    padding: 1em;
  }
  .add-to-cart,
  .detail-beer {
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .add-to-cart,
  .detail-beer {
    color: $color-4;
    background-color: $color-2;
    @include font-smoothing;
    &:hover {
      background-color: lighten($color-2, 5%);
    }
  }
}


/* --------------------------------

Product Info (title + price)

-------------------------------- */

.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em .5em 0;
  color: $color-1;
  font-weight: bold;
  @include clearfix;
  b {
    flex-basis: 90%;
  }
  em {
    flex-basis: 10%;
    color: lighten($color-1, 20%);
  }
  a {
    color: $color-1;
    &:hover {
      text-decoration: underline;
    }
  }
}
