.cart-container {
  &::before {
    content: '';
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(#000, .5);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
  }
  &.cart-open {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.cart-trigger,
.cart {
  position: fixed;
  bottom: 20px;
  right: 3%;
  transition: transform .2s;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: transform;
  backface-visibility: hidden;
  .empty & {
    transform: translateY(150px);
  }
  @include MQ(L) {
    bottom: 40px;
  }
}

.cart-trigger {
  z-index: 3;
  height: 72px;
  width: 72px;
  /* replace text with image */
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  cursor: pointer;
  &::after,
  &::before {
    /* used to create the cart/'X' icon */
    content: '';
    position: absolute;
    @include center;
    height: 100%;
    width: 100%;
    background: url(/img/icons-cart-close.svg) no-repeat 0 0;
    transition: opacity .2s, transform .2s;
  }
  &::after {
    /* 'X' icon */
    background-position: -72px 0;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
  }
  .cart-open &::before {
    opacity: 0;
  }
  .cart-open &::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  .count {
    /* number of items indicator */
    position: absolute;
    top: -10px;
    right: -10px;
    height: 28px;
    width: 28px;
    background: $color-2;
    color: $color-4;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 50%;
    text-indent: 0;
    transition: transform .2s .5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-open & .count {
    transition: transform .2s 0s;
    transform: scale(0);
  }
  .empty & .count {
    /* fix bug - when cart is empty, do not animate count */
    transform: scale(1);
  }
  &:hover+div .wrapper {
    box-shadow: 0 6px 40px rgba(#000, .3);
  }
  .cart-open &:hover+div .wrapper {
    box-shadow: 0 4px 30px rgba(#000, .17);
  }
}

.cart {
  /* cart content */
  z-index: 2;
  width: 90%;
  max-width: 440px;
  height: 400px;
  max-height: 90%;
  pointer-events: none;
  .wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    height: 72px;
    width: 72px;
    border-radius: 6px;
    transition: height .4s .1s, width .4s .1s, box-shadow .3s;
    transition-timing-function: cubic-bezier(.67, .17, .32, .95);
    background: $color-4;
    box-shadow: 0 4px 30px rgba(#000, .17);
    pointer-events: auto;
  }
  header,
  footer {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
  }
  header,
  .body {
    opacity: 0;
  }
  header {
    top: 0;
    border-radius: 6px 6px 0 0;
    padding: 0 1.4em;
    height: 40px;
    line-height: 40px;
    background-color: $color-4;
    border-bottom: 1px solid shade($color-3, 10%);
    @include clearfix;
  }
  footer {
    bottom: 0;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 -2px 20px rgba(#000, .15);
    background: $color-4;
  }
  h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .1em;
  }
  .checkout {
    display: block;
    height: 72px;
    line-height: 72px;
    margin-right: 72px;
    background: $color-2;
    color: rgba($color-4, 0);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    transition: all .2s 0s;
    &:hover {
      background: lighten($color-2, 3%);
    }
    em {
      position: relative;
      display: inline-block;
      transform: translateX(40px);
      transition: transform 0s .2s;
    }
    em::after {
      position: absolute;
      @include center(y);
      right: 0;
      content: '';
      height: 24px;
      width: 24px;
      background: url(/img/icon-arrow-next.svg) no-repeat center center;
      opacity: 0;
      transition: opacity .2s;
    }
  }
  .body {
    position: relative;
    z-index: 1;
    height: calc(100% - 40px);
    padding: 20px 0 10px;
    margin: 40px 0 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition: opacity .2s;
    p {
      text-align: center;
      font-size: 1rem;
    }
    ul {
      overflow: hidden;
      padding: 0 0.7em;
      position: relative;
      padding-bottom: 90px;
    }
    li {
      position: relative;
      @include clearfix;
      opacity: 0;
      transform: translateX(80px);
      transition: opacity 0s .2s, transform 0s .2s;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
  .product-image {
    display: inline-block;
    float: left;
    width: 50px;
    img {
      display: block;
      max-height: 90px;
      margin: 0 auto;
      max-width: 90px;
    }
  }
  .product-details {
    position: relative;
    display: inline-block;
    float: right;
    width: calc( 100% - 50px); // padding: 0.3em 0 0 0.5em;
    @include clearfix;
  }
  h3,
  .price {
    font-weight: bold;
  }
  h3 {
    width: 100%;
    float: left;
    /* truncate title with dots if too long */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 1em;
    a {
      color: $color-1;
      &:hover {
        color: $color-2;
      }
    }
  }
  .price {
    float: right;
    width: 20%;
    text-align: right;
    font-size: 1rem;
    height: 1.4em;
    line-height: 1.4em;
  }
  .actions {
    font-size: 1rem;
    height: 1.4em;
    line-height: 1.4em;
    float: left;
    width: 80%;
    @include clearfix;
  }
  .remove-item,
  .quantity {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .remove-item {
    float: left;
    color: tint($red, 10%);
    &:hover {
      color: $red;
      cursor: pointer;
    }
  }
  .quantity {
    float: right;
    color: tint($color-1, 40%);
    line-height: 22px;
    & label {
      display: inline-block;
    }
  }
  .select {
    position: relative;
  }
  .select::after {
    content: '';
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 12px;
    height: 12px;
    background: $color-4 url(/img/icon-select.svg) no-repeat center center;
    pointer-events: none;
  }
  select {
    position: relative;
    cursor: pointer;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 1.04rem;
    margin: 0;
    width: 40px;
    color: tint($color-1, 40%);
    &:focus {
      outline: none;
      color: $color-1;
      box-shadow: 0 1px 0 currentColor;
    }
  }
  select::-ms-expand {
    /* hide default select arrow on IE */
    display: none;
  }
  @include MQ(M) {
    .body li:not(:last-of-type) {
      margin-bottom: 14px;
    }
    .body li.deleted+li {
      animation: item-move-up .3s;
    }
    .body li.undo-deleted+li {
      animation: item-move-down .3s;
    }
    .checkout {
      font-size: 1.25rem;
    }
    .product-image {
      width: 90px;
    }
    .product-details {
      width: calc( 100% - 90px);
    }
    h3,
    .price {
      font-size: 1rem;
    }
  }
}

.cart-open {
  & .wrapper {
    height: 100%;
    width: 100%;
    transition-delay: 0s;
  }
  & header,
  & .body {
    opacity: 1;
  }
  & header {
    transition: opacity .2s .2s;
  }
  & .body {
    transition: opacity 0s;
    li {
      transition: transform .3s .2s, opacity .3s .2s;
      opacity: 1;
      transform: translateX(0);
      &:nth-of-type(2) {
        transition-duration: .4s;
      }
      &:nth-of-type(3) {
        transition-duration: .5s;
      }
      &:nth-of-type(4),
      &:nth-of-type(5) {
        transition-duration: .55s;
      }
    }
  }
  & .checkout {
    color: $color-4;
    transition: color .2s .3s;
    em {
      transform: translateX(0);
      transition: transform .2s .3s, padding .2s 0s;
    }
    &:hover em {
      padding-right: 30px;
      &::after {
        opacity: 1;
      }
    }
  }
}
