<div class="product-image">
  <a href="#0">
    <img src="{{$ctrl.item.image_url}}" alt="placeholder">
  </a>
</div>
<div class="product-details">
  <h3>
    <a href="#0">{{$ctrl.item.name}}</a>
  </h3>
  <span class="price">{{($ctrl.item.abv * $ctrl.item.quantity) | currency }}</span>
  <div class="actions">
    <a href="#0" class="delete-item" ng-click="$ctrl.removeItem();">Remove</a>
    <div class="quantity">
      <label>Qty</label>
      <span class="select">
        <select ng-options="item as item for item in $ctrl.qtys"ng-model="$ctrl.quantity" ng-change="$ctrl.updateQty($event);"></select>
      </span>
    </div>
  </div>
</div>
