@mixin button {
    background: $color-2;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 1em;
    @include appearance(none);
    @include border-radius;
    &:hover,
    &:focus {
        background: lighten($color-2, 5%);
        outline: none;
    }
}

button,
input[type="submit"] {
    @include button;
}
